<a href="https://colab.research.google.com/github/Riccardolotorto/Python/blob/main/Copia_di_LOTORTO_RICCARDO_Esercizi_Python_base_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scrivere al di sotto di ogni esercizio il codice richiesto. Al termine, consegnare su classroom il notebook realizzato.

0. assegnare alle variabili x, y e z i valori 10, 20 e 30 in un'unica istruzione. Assegnare alle variabili a, b e c il valore 100 sempre in un'unica istruzione

In [ ]:
x,y,z = 10,20,30
a = b = c = 100
print(a,b,c)

100 100 100

1. far inserire all'utente due numeri interi, scambiarli e visualizzarli

In [1]:
numero = int(input("inserire un numero: ")) 
numero_2 = int(input("inserire un altro numero: "))
numero, numero_2 = numero_2, numero
print(numero, numero_2)

inserire un numero: 2
inserire un altro numero: 3
3 2

2. far inserire all'utente due numeri e calcolare l'elevamento a potenza del primo per il secondo. Provare poi a vedere qual è la massima potenza del 2 che Python riesce a calcolare: lo smartphone è altrettanto potente?

In [3]:
base = int(input("inserire la base della potenza: "))
esponente = int(input("inserire l'esponente della potenza: "))
pow(base, esponente)

inserire la base della potenza: 2
inserire l'esponente della potenza: 5000

141246703213942603683520966701614733366889617518454111681368808585711816984270751255808912631671152637335603208431366082764203838069979338335971185726639923431051777851865399011877999645131707069373498212631323752553111215372844035950900535954860733418453405575566736801565587405464699640499050849699472357900905617571376618228216434213181520991556677126498651782204174061830939239176861341383294018240225838692725596147005144243281075275629495339093813198966735633606329691023842454125835888656873133981287240980008838073668221804264432910894030789020219440578198488267339768238872279902157420307247570510423845868872596735891805818727796435753018518086641356012851302546726823009250218328018251907340245449863183265637987862198511046362985461949587281119139907228004385942880953958816554567625296086916885774828934449941362416588675326940332561103664556982622206834474219811081872404929503481991376740379825998791411879802717583885498575115299471743469241117070230398103378615232793710290992656444842895511830355733152020804157920090041811951880456705515468349446182731742327685989277607620709525878318766488368348965015474997864119765441433356928012344111765735336393557879214937004347568208665958717764059293592887514292843557047089164876483116615691886203812997555690171892169733755224469032475078797830901321579940127337210694377283439922280274060798234786740434893458120198341101033812506720046609891160700284002100980452964039788704335302619337597862052192280371481132164147186514169090917191909376

3. far inserire all'utente tre numeri e visualizzare il massimo dei tre

In [ ]:
num1 = int(input("inserire un numero: "))
num2 = int(input("inserire un altro numero: "))
num3 = int(input("inserire un altro numero: "))
valoremax = max(num1, num2, num3)
print(valoremax)

inserire un numero: 56
inserire un altro numero: 78
inserire un altro numero: 123
123

4. dati tre numeri, dire se con quei tre numeri possiamo costruire un triangolo

In [4]:
lato1 = int(input("inserire un numero: "))
lato2 = int(input("inserire un altro numero: "))
lato3 = int(input("inserire un altro numero: "))
if lato1 < (lato2 +lato3) and lato2 < (lato1 + lato3) and lato3 < (lato2 + lato1):
  print("si può costruire un trinagolo")
else:
  print("non si può costuire un triangolo")

inserire un numero: 8
inserire un altro numero: 4
inserire un altro numero: 3
non si può costuire un triangolo

5. far inserire dall'utente le misure di due cateti di un triangolo rettangolo (valori reali) e calcolare l'area del rettangolo e l'ipotenusa

In [ ]:
import math
cateto1 = int(input("inserire il valore del primo cateto: "))
cateto2 = int(input("inserire il valore del primo cateto: "))
area = (cateto1 * cateto2) / 2
ipotenusaQ = (cateto1 * cateto1) + (cateto2 * cateto2) 
ipotenusa = math.sqrt(ipotenusaQ) 
print("l'area è: ", area)
print("l'ipotenusa é: ", ipotenusa)

inserire il valore del primo cateto: 3
inserire il valore del primo cateto: 4
l'area è:  6.0
l'ipotenusa é:  5.0

6. far inserire un numero intero dall'utente e dire se è pari o dispari

In [ ]:
nume = int(input("inserire un numero: "))
if nume % 2 == 0:
    print("pari")
else:
    print("dispari")

inserire un numero: 5
il numero è dispari

7. far inserire all'utente il valore di una temperatura in gradi centigradi e convertirlo in gradi fahrenheit

In [ ]:
temperaturaC = int(input("inserire una temperatura in gradi centrigradi: "))
Fahrenheit = (temperaturaC * 1.8) + 32
print(Fahrenheit)

inserire una temperatura in gradi centrigradi: 30
86.0

8. far inserire all'utente il valore di una temperatura in gradi fahrenheit e convertirlo in gradi centrigradi

In [ ]:
temperaturaF = int(input("inserire una temperatura in gradi fahrenheit: "))
centigradi = (temperaturaF - 32)/ 1.8
print(centigradi)

inserire una temperatura in gradi fahrenheit: 86
30.0

9. far inserire all'utente una velocità in Km/h e visualizzare la stessa velocità in metri al secondo

In [ ]:
velocitàKh = int(input("inserire una velocità in Km/h: "))
velocitàMs = velocitàKh / 3.6
print(velocitàMs)

inserire una velocità in Km/h: 50
13.88888888888889

10. far inserire all'utente il raggio di un cerchio e visualizzarne il diametro e l'area

In [ ]:
raggio = int(input("inserire il valore del raggio del cerchio: "))
area = (raggio * raggio) * 3.14
diametro = raggio * 2
print("l'area è: ", area) 
print("il diametro è ", diametro)

inserire il valore del raggio del cerchio: 5
l'area è:  78.5
il diametro è  10

11. far inserire all'utente il suo nome e poi il suo cognome e visualizzare il suo cognome e il suo nome separati da uno spazio

In [ ]:
nome = input("inserire il tuo nome: ")
cognome = input("inserire il tuo cognome: ")
print(cognome,"", nome)

inserire il tuo nome: riccardo
inserire il tuo cognome: lotorto
lotorto  riccardo

12. far inserire all'utente un numero e visualizzare il suo valore assoluto

In [ ]:
import math
numerocolsegno = int(input("inserire un numero: "))
valoreassoluto = abs(numerocolsegno)
print(valoreassoluto)

inserire un numero: -7
7

13. far inserire all'utente un voto e controllare che sia compreso tra 1 e 10, estremi inclusi, Se è compreso visualizzare la stringa 'OK' altrimenti visualizzare la stringa 'KO'

In [ ]:
voto = int(input("inserire un voto: "))
if voto >= 1 and voto <= 10:
  print("OK")
else:
  print("KO")

inserire un voto: 0
KO

14. far inserire all'utente due numeri e dire se uno è multiplo dell'altro. Ad esempio se l'utente inserisse i valori 60 e 15 il programma dovrebbe visualizzare la stringa '60 è un multiplo di 15'. Stessa cosa se l'utente inserisse prima il 15 e poi il 60., Se non sono multipli, visualizzare un messaggio appropriato

In [7]:
N = int(input("inserire un numero: "))
N2 = int(input("inserire un altro numero: "))
if N % N2 == 0:
  print(N," è un multiplo di: ",N2)
elif N2 % N == 0:
  print(N2," è un multiplo di: ",N)
else:
  print("non sono multipli")

inserire un numero: 17
inserire un altro numero: 15
non sono multipli

15. far inserire all'utente la durata di un periodi di tempo in ore, minuti e secodni e convertirlo in secondi

In [8]:
o = int(input("inserire le ore: "))
m = int(input("inserire i minuti: "))
s = int(input("inserire i secondi: "))
convertireleore = o * 3600
convertireiminuti = m * 60
totale = convertireleore + convertireiminuti + s
print(totale)

inserire le ore: 1
inserire i minuti: 20
inserire i secondi: 0
4800

16. far inserire all'utente la durata di un periodo in secondi e convertirlo in ore, minuti e secondi

In [11]:
sec = int(input("inserire i secondi: "))
ore = sec // 3600
secavanzati = sec % 3600
minuti = secavanzati // 60
secavanzati = secavanzati % 60
print(ore)
print(minuti)
print(secavanzati)

inserire i secondi: 3800
1
3
20